/* body{
    background-color: #baeba2;
} */

/* header{
    display: flex;
    background-color: rgb(120 184 90);
    justify-content: space-between;
    margin: 0;
    height: 110%;
    
} */
li a {
    color:#fffefe;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    
    
}
li{
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    
}