

#pro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

#pro li {
    background-color: #fffefe;
    border-radius: 17px;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    width: 25%;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(120 184 90)
    
}
#bout{
    display: flex
}
button{
    background: none;
    border: none;
    height: 20px;
}
img{
    height: 30px;
}
.barrer {
    text-decoration: line-through;
}

body {
    background-color: #baeba2;
}

.container {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    background-color: #fffefe;
    color: rgb(120 184 90);
    width: 200px;
    border-radius: 17px;
    margin: 20px;
    padding: 10px;
}

#formu {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bouton {
    background: none;
    border: none;
    
    
}
#produit{
    border-radius: 17px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border: none;
    width: 260px;
}
form{
    display: flex;
    flex-direction: column;
}
#tache {
    border: none;
    border-radius: 17px;
    text-align: center;
    padding-top: 5px;
    color: rgb(120 184 90);
    font-family: police;
    font-size: 25px;
}

.flex {
    display: flex;
}