<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			 
			 <link rel="stylesheet" href="/assets/css/header.css">
			  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">

{% block style %}
    
{% endblock %}
		<title>Mi Casa</title>
	</head>
	<body>
		{% include "./partials/header.twig" %}

		{% block main %}{% endblock %}

		{% include "./partials/footer.twig" %}
{% block scripts %}
{% endblock %}
	</body>
</html>