{% extends "../base.twig" %}

{% block style %}
    <link rel="stylesheet" href="/assets/css/dashboard.css">
{% endblock %}

{% block main %}
<div id="interfaces">
    <li>
		<a id="inter" href="/liste_courses">Courses</a>
	</li>
    <li>
		<a id="interOne" href="/tdl">To Do List</a>
	</li>
</div>
{% endblock %}