{% extends "../base.twig" %}

{% block style %}
    <link rel="stylesheet" href="/assets/css/tdl.css">
{% endblock %}

{% block main %}
<section>
    <div class="container">
        <h2>Liste de tâches</h2>
    </div>
    <div id="formu">
        <form action="/tdl" method="POST">
            <div class="formulaire">
                <input type="text" id="tache" name="tache" placeholder="Tâche" required>
            </div>
            <button class="bouton" type="submit">✅</button>
        </form>
    </div>
</section>
<section id="tacheContainer">
    <ul id="tache">
        {% for tache in foyer.tdl %}
            <li>{{ tache.tache }}</li> <!-- Affiche la tâche -->
            <form action="/delete_tache/{{ tache._id }}" method="POST">
                    <button type="submit">
                        <img src="/assets/img/poubelle.png" alt="poubelle" >
                    </button>
                </form>
        {% else %}
            <li>Aucune tâche trouvée</li> <!-- Message si aucune tâche n'est trouvée -->
        {% endfor %}
    </ul>
</section>
{% endblock %}